

<%= simple_form_for @tweet, url: tweets_path, method: 'post' do |f| %>
	<%= f.input "content", style: "width: 500px; height: 500px;" %>
	<%= f.button "submit", "Create Tweet" %>
<% end %>

<b>Here are all the tweets ever made:</b><br ><br />

<% @tweets.each do |tweet| %>
	<%= tweet.content %><br />
<% end %>


<div style="color: blue; font-weight: bold">
	we are in the div
</div>